<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aches">

    <application
        android:allowBackup="true"
        android:icon="@drawable/simple_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/simple_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Views.Answer"></activity>
        <activity android:name=".Views.AskQuestion" />
        <activity android:name=".Views.About" />
        <activity android:name=".Views.Notification" />
        <activity android:name=".Views.Profile" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.category" />
        <activity android:name=".Views.MainScreen" />
        <activity android:name=".Views.ForgotPassword" />
        <activity android:name=".Views.Home" />
        <activity android:name=".Views.Signup" />
        <activity android:name=".Views.Login" />
        <activity android:name=".Views.Welcome" />
        <activity android:name=".Views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>